<!DOCTYPE html>
<html>
  <head>
    <title> data </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
    <script   src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"   integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="   crossorigin="anonymous"></script>
  </head>

  <body>
    <div id='modal' title='New Merchant'>
    </div>
    <div id='mainPage'>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <% include templates/header.ejs %>
      <br>
      <br>
      <br>

      <h3>Shift Number <%= shiftNumber %></h3>

      <div id='addedJobs'>
        <table>
          <tbody>
            <tr>
              <th>Date</th>         
              <th>Merchant</th>
              <th>Payout</th>
              <th>Tip</th>
              <th>Start</th>
              <th>End</th>
              <th>Delete</th>
            </tr>
          </tbody>
        </table>
      </div>

      <form action='/addData' method='post' id='shiftData'>
        <input hidden type='number' name='firstShiftNumber' value=<%= shiftNumber %>  >
        <div>
          <input type='submit' value='New Shift' name='newShiftSubmit'>
        </div>
      </form>
    
      <form action='/addData' method='post' id='jobData'>
    
        <input hidden type='number' name='jobShiftNumber' value=<%= shiftNumber %>>

        <!--<div class='shiftData'>
          <h3>Total miles driven</h3>
          <input type='number' name='shiftMiles' class='shiftData' min='1'><br>
        </div> -->

        <div>
          <input type='checkbox' id='jobTest' name='jobTest'><span>Test?</span><br>
        </div>

        <div class='jobData ui-widget'> 
          <label for='autocomplete-1'>Merchant</label>
          <input type='text' name='jobMerchant' class='job' id='autocomplete-1'>
        </div>

        <div class='jobData' hidden>
          <input type='text' name='jobCategory' id='jobCategory'><input>
        </div>

        <div class='jobData'>
          <h3>Payout</h3>
          <input type='number' name='jobPayout' id='jobPayout' class='job' step='0.01'>
        </div>

        <div class='jobData'>
          <h3>tip</h3>
          <input type='checkbox' id='pending' name='jobTipPending'><span>Pending?</span><br>
          <input type='number' id='jobTip' name='jobTip' class='job' step='0.01'>
        </div>

        <div class='jobData'>
          <h3>Multiplier</h3>
          <input type='number' name='jobMultiplier' id='jobMultiplier' class='job' step='0.01'>
        </div>


        <div class='jobData'>
          <h3>Start time</h3>
          <input type='datetime-local' name='jobStart' class='job'>
        </div>

        <div class='jobData'>
          <h3>End time</h3>
          <input type='datetime-local' name='jobEnd' class='job'>
        </div>

        <div class='jobData'>
          <label for="jobCancel">Check if canceled</label>
          <input type='checkbox' name='jobCancel'>
        </div>

        <div class='jobData'>
          <label for="jobPromotion">Check if job was a promotion</label>
          <input type='checkbox' name='jobPromotion' >
          
        </div>

        <div class='jobData'>
          <input type='submit' id='jobSubmit'>
        </div>

        
      </form>
    </div>

    <script src='/modules/moment.min.js'></script>
    <script src='/javascripts/main.js'></script>
    <script type='text/javascript'>
      var jobData = <%- JSON.stringify(jobData) %>
    </script> 
    <script type='text/javascript'>
      var merchantDict = <%- JSON.stringify(merchantDict) %>
    </script> 
    

  </body>
</html>