<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
  	<% include templates/header.ejs %>
    <br>
    <br>
    <ul>
      <% bars.forEach(function(item) { %>
        <li><%= item.barName %></li>
          <ul>
            <li><span>Address: <%= item.barAddress %></li>
            <li>Area: <%= item.barArea %></li>
            <li>Day: <%= item.barDay %></li>
            <li>HH start: <%= item.barHoursStart %></li>
            <li>HH end: <%= item.barHoursEnd %></li>
          </ul>
      <% }); %>
    </ul>
   </body>
</html>
