<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
  	<% include templates/header.ejs %>
    <br>
    <br>
    <details>
      <summary>Filters</summary>
      <form>
        <div id='barDay'>
          <p>Day</p>
          <label style:'display:none' name='mon'>
            <input type="checkbox" value="mon" class='barDay'/> 
            <span>Monday</span>
          </label>
          <br>
          <label name='tues'>
            <input type="checkbox" value='tues' class='barDay'/> 
            <span>Tuesday</span>
          </label>
          <br>
          <label name='weds'>
            <input type="checkbox" value='weds' class='barDay'/> 
            <span>Wednesday</span>
          </label>
          <br>
          <label name='thrs'>
            <input type="checkbox" value='thrs' class='barDay'/> 
            <span>Thursday</span>
          </label>
          <br>
          <label name='fri'>
            <input type="checkbox" value='fri' class='barDay'/> 
            <span>Friday</span>
          </label>
          <br>
          <label name='sat'>
            <input type="checkbox" value='sat' class='barDay'/> 
            <span>Saturday</span>
          </label>
          <br>
          <label name='sun'>
            <input type="checkbox" value='sun' class='barDay'/> 
            <span>Sunday</span>
          </label>
        </div>
        <div id="barArea">
          <p>Area</p>
          <input type="checkbox" value="DTLA" class='barArea'/>DTLA
          <br>
          <input type="checkbox" value="SM" class='barArea'/>Santa Monica
          <br>
          <input type="checkbox" value="HW" class='barArea'/>Hollywood
          <br>
          <input type="checkbox" value="culver" class='barArea'/>Culver City
          <br>
        </div>
        <input id='subButton' type='submit'>
      </form>
    </details>
    <br>
    <ul class='barList'>
      <% bars.forEach(function(item, i) { %>
        <li class='barListElement' name='barName' data-num=<%=i%>><h3><%= item.barName %></h3></li>
        <li class='barListElement' name='barAddress' data-num=<%=i%>><%= item.barAddress %></li>
        <li class='barListElement' name='barArea' data-num=<%=i%>><%= item.barArea %></li>
        <li class='barListElement' name='barDay' data-num=<%=i%>><%= item.barDay %></li>
        <li class='barListElement' name='barHHStart' data-num=<%=i%>><%= item.barHHStart %></li>
        <li class='barListElement' name='barHHEnd' data-num=<%=i%>><%= item.barHHEnd %></li>
          
      <% i++ }); %>
    </ul>
    
  </body>
  <script src='/javascripts/global.js'></script>
  <% var barData = bars %>
  
</html>
